:root
{
    --color-dark :#12081f;
    --color-blue-btn:#0d96f2;
    --color-dark-heading: #232129;
    --color--main-dark:#09091b;
    --color-main-secondary-dark:#161627;
    --color-yellow: #f6d854;
    --color-red:#f05133;
    --color-grey: #E7e3E2;
    --color-dark-more: #161622;
    --color-light-blue: #c5f1fe;
    --color-white: #eff0f2;

}

html{
    height: 100%;
}
body{
    height: 100%;
    padding: 0;
    margin: 0;
    background: var(--color--main-dark); 
    color: var(--color-grey);
}

.container {
    margin: auto;
    max-width: 80%;
    font-family: sans-serif;
  }
  @media (max-width: 768px)
  {
    .container {
        margin: auto;
        max-width: 90%;
        font-family: sans-serif;
      }
    }
  .header
  {
    top:0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 0 rgba(22, 8, 43, .1);
    padding: 0 1rem;
    z-index: 1000;


  }

  .backdrop
  {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      
      background: rgba(0, 0, 0, 0.4); 
      z-index: 100;
  }


  


  /* nav */

  @media (min-width:768px)
  {
    .nav{
      display: none;
    }
    .toolbar_togglerIcon
    {
      display: none;
    }
  }

  .nav 
  {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    padding: 1rem 1rem 3rem;
    background-color: var(--color--main-dark);  
    box-shadow: 1px 0 0 rgba(22, 8, 43, .1);
    z-index: 11111;
    transition: .4s;

  }
  .nav__container
  {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;
  }

  .nav__container::-webkit-scrollbar
  {
    display: none;
  }
  .nav__logo
  {
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--color-blue-btn) !important;
    margin-bottom: 5rem;
    /* justify-content: center; */
  }

  
  .nav__list,.nav__items
  {
    display: grid;

  }

  .nav__list
  {
    row-gap: 1.5rem;
  }

  .nav__items
  {
    row-gap:1.7rem;
    padding-left: 0.5rem;
  }

  .nav__subtitle
  {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }

  .nav__link
  {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: var(--color-grey);
    cursor: pointer;
   
    
  }
  .nav__link:hover .nav__name
  {
    color: var(--color-blue-btn);
  }



  .nav__icon
  {
    margin-right: 1rem;
    width: 21px;
    height: 21px;
  }

  .nav__name
  {
    font-size: 1rem;
    font-weight: 500;
    white-space: normal;
    flex:1;

  }

  .nav__dropdown
  {
    overflow: hidden  ;
    max-height: 21px ;

   transition: .4s ease-in-out;

  }
  .nav__dropdown-colapse
  {
    background-color:var(--color-dark-more);
    border-radius: .25rem;
  
    margin-top: 1rem;
  }
  .nav__dropdown-content
  {
    display: grid;

    row-gap: .5rem;
    padding: .75rem 2.5rem .75rem 1.8rem;
  }
  .nav__dropdown-content a:hover
  {
    color: var(--color-blue-btn);
  }
  .nav__dropdown-item
  {
    text-decoration: none;
    padding: 0.5rem 0 ;
    color: var(--color-grey);
    
  }
  .nav__dropdown-item:hover{
    color: white;
  }
  .nav__dropdown:hover
  {
    max-height: 100rem ;
  }
  .nav__dropdown:hover .nav__dropdown-icon .feather
  {
    transform: rotate(90deg);
   
    
  }
  .show-menu
  {
    right: 0;
  }
  


  /* Toolbar */

  .toolbar
  {
      width: 100%;
      background: var(--color--main-dark);
      top: 0;
      height: 60px ;
  }
  .toolbar_togglerIcon
  {
    background: url(images/menu.svg) no-repeat   right !important; 
    width: 50px;
    height: 50px;
  }

  hr
  {
    border: .1px solid var(--color-dark-more);
  
  }
  .toolbar__navigation
  {
      display: flex;
      height: 100%;

      align-items: center;
  }
  .toolbar__logo{
      margin-top: 0.5rem;
  }
  .toolbar__logo a
  {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
  }
  .toolbar__nav-items ul
  {
      list-style: none;
      padding: 0;
      margin:0;
      display: flex;
  }

  .toolbar__nav-items li:not(:last-child)
  {
    padding: 0 0.5rem;
    margin-right: 2rem;
  }
  .spacer
  {
      flex: 1;
  }
  


  /* nav desktop */

  @media (max-width:768px)
  {
    .nav__menu
    {
      display: none;
    }
  }

@media (min-width:768px)
{
   
 nav ul {
  padding: 0;
         margin: 0;
  list-style: none;
  position: relative;
  } 
 nav ul li {
  display:inline-block;
  }
 nav a {
  display:block;
  padding:0 10px; 
  color:#FFF;
  line-height: 60px;
  text-decoration:none;
 }
 nav a:hover
 {
   color: var(--color-blue-btn);
 }

 nav ul ul {
  display: none;
  position: absolute; 
  top: 60px; 
 } 
 nav ul ul li a
{
  line-height: 40px;
}
nav ul li:focus-within > ul,
 nav ul li:hover > ul {
  display:inherit;
 } 
 nav ul ul li {
  width:230px;
  float:none;
  display:list-item;
  position: relative;
 }

 .nav__dropdown:hover > ul
 {
   display: inherit;
 }

}
 